beautifulsoup4 
chardet 
html5lib 
lxml 
nose 
numpy 
opencv-python 
six 
Pillow 
psutil 
PyOpenSSL 
PyYAML 
requests 
Send2Trash 
service_identity 
twisted 
lz4 
pylzma 
pysocks 
matplotlib 
mock 
httmock 
pyinstaller
wxPython
